* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Lato';
}
.contentLogin {
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFF;
  width: 100%;
  max-width: 340px;
  margin: auto;
  padding: 20px;
  left: 10%;
  position: absolute;
}
.btnBigotes {
  width: 100%;
  background-color: #254144;
  transition: all ease 0.5s;
  border: none;
}
.btnBigotes:hover {
  background-color: #254144;
}
.whiteLink {
  color: #FFF;
}
.whiteLink:hover,
.whiteLink:active,
.whiteLink:focus,
.whiteLink:link,
.whiteLink:visited {
  color: #FFF;
  text-decoration: none;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #ffffff;
}
.footer {
  width: 100%;
  color: #ffffff;
  position: fixed;
  z-index: 107;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 12px;
  font-weight: 300;
}
.purpleLink {
  color: #ffffff;
  transition: all ease 0.5s;
}
.purpleLink:hover {
  color: #FFF;
}
/******* VIDEO ******/
.mainPatronLogin {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url('../img/login/pattern.png');
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.mainContentLogin {
  position: relative;
  z-index: 2;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('../img/login/background.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
  opacity: .5;
}
@media screen and (max-width: 500px) {
  .contentLogin {
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    left: 0;
    position: relative;
  }
}
@media screen and (max-device-width: 800px) {
  html {
    background: url(../img/login/background.png) #000 no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
}
/******* SUPERSIZED ******/
#supersized-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  text-indent: -999em;
}
#supersized {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -999;
  height: 100%;
  width: 100%;
}
#supersized img {
  width: auto;
  height: auto;
  position: relative;
  outline: none;
  border: none;
}
#supersized a {
  z-index: -30;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  display: block;
}
#supersized a.image-loading {
  width: 100%;
  height: 100%;
}
