* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  background-color: #e7e7e7;
  color: #4d4d4d;
}

.fc-v-event{
  padding: 5px;
  border-radius: 2px;
  // border-left: none;
  border-right: none;
  border-top: none;
}
.fc-time-grid .fc-slats td{
  height: 2.5em;
}

.nameAutoOT{
  font-size: 14px;
  margin: -40px 0 0 0;
  position: absolute;
}

// .inputfile {
//   width: 0.1px;
//   height: 0.1px;
//   opacity: 0;
//   overflow: hidden;
//   position: absolute;
//   z-index: -1;
// }

// .inputfile + label {
//     font-size: 1.25em;
//     font-weight: 700;
//     color: white;
//     background-color: black;
//     display: inline-block;
// }

// .inputfile:focus + label,
// .inputfile + label:hover {
//     background-color: red;
// }

// .inputfile + label {
//   cursor: pointer; /* "hand" cursor */
// }

// .inputfile:focus + label {
//   outline: 1px dotted #000;
//   outline: -webkit-focus-ring-color auto 5px;
// }
// .inputfile + label * {
//   pointer-events: none;
// }


.lastDoc{
  background-color: #4d4d4d;
  color: #fff;
  border-radius: 15px;
  display: inline-block;
  width: 100%;
  position: relative;
  .nameFile{
    text-transform: uppercase;
    font-size: 18px;
  }
  h1{
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  table{
    tr{
      td{
        vertical-align: middle;
        border-top: none;
      }
      td:nth-child(3){
        vertical-align: bottom;
      }
    }
  }
  .tableZone{
    padding: 15px;
    width: 80%;
    float: left;
  }
  .btnDownloadFile{
    width: 20%;
    float: right;
    background-color: #fcb02e;
    height: 100%;
    position: absolute;
    right: 0;
    border-radius: 0 15px 15px 0;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    .fa{
      font-size: 40px;
    }
  }
}

.tableFiles{
  width: 100%;
  margin: 0 0 50px 0;
  th{
    color: #4d4d4d;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }
  tr:nth-child(2), tr:nth-child(3){
    td:first-child{
      font-weight: bold;
      font-weight: 14px;
    }
  }
  .fa{
    color: #008b6a;
    font-size: 20px;
    margin: 0 4px;
  }
  td{
    border: none !important;
    padding: 5px !important;
  }
}

.tableProjects{
  th{
    background-color: #6c6969;
    color: #fff;
  }
  th:first-child{
    border-radius: 5px 0 0 5px;
  }
  th:last-child{
    border-radius: 0 5px 5px 0;
  }
}
.displayDataform{
}
.thumbFol{
  width: 200px;
  height: auto;
  float: left;
  // border: solid 1px #c2c2c2;
  border-radius: 10px;
  padding: 5px;
  margin: 0 5px 10px 0;
  .nameFile{
    text-align: center;
  }
}

.actionPieza{
  display: none;
  .fa{
    margin: 10px 2px 0 3px;
    cursor: pointer;
    // transition: all ease 0.5s;
    &:hover{
      transform: translateY(-2px);
    }
  }
  margin: 0 10px 0 0;
}

.filterScroll{
  height: 400px;
  overflow: auto;
}

.filterAccount{
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    a{
      display: block;
      padding: 5px;
      border-bottom: 1px solid #e2e2e2;
      color: #4d4d4d;
      &:hover, &.active{
        text-decoration: none;
        background-color: #fff;
      }
      &:focus{
        text-decoration: none;
        outline: none;
      }
    }
  }
}

.relativeContent{
  position: relative;
}

.fixedZone{
  // position: fixed;
  position: absolute;
  // width: 100%;
}

.activeNot{
  color: #254144;
}

.label-big{
  // background-color: #fff;
  color: #fff;
  font-weight: 300;
}
.withEditor{
  ul{
    margin: 0 0 0 30px;
  }
}

h4.panel-title{
  position: relative;
}
.label-big::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 35px;
  background-color: #ccc;
  top: 0;
  right: 0;
}

tr.trStrong td{
  font-weight: bold;
}
.buttonPreviewFields{
  font-size: 20px;
  margin: 10px 0 0 0;
}

.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.maskNewEvent{
  position: fixed;
  top: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  display: none;
  .newEvent{
    background: #fff;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    top: 5%;
    padding: 15px;
  }
}

.plusCalendar{
  position: fixed;
  z-index: 99;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  bottom: 5%;
  right: 2%;
  background: #254144;
  color: #ffffff;
  font-size: 22px;
  line-height: 50px;
  cursor: pointer;
  transition: all ease 0.5s;
  .fa{
    transition: all ease 0.5s;
  }
  &:hover{
    .fa{
      transform: rotate(180deg);
    }
  }
}

#calendar{
  .fc-event{
    font-size: 12px;
  }
}

a.currentDay{
  color: #254144;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  display: block;
  &:hover{
    text-decoration: none;
  }

  strong.big{
    font-size: 100px;
    line-height: 100px;
    display: block;
  }
}

.maskPiecesTypes{
  position: fixed;
  z-index: 102;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  display: none;

  .formPieceType{
    background-color: #fff;
    width: 95%;
    max-width: 500px;
    margin: 5% auto;
  }
}

.maskBigmail{
  position: fixed;
  z-index: 102;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  display: none;
}

.maskDoneOT{
  position: fixed;
  z-index: 102;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  display: none;

  .formDoneOT{
    background-color: #fff;
    width: 95%;
    max-width: 500px;
    margin: 5% auto;
  }
}

.maskAdjustOT{
  position: fixed;
  z-index: 102;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  display: none;

  .formAdjustOT{
    background-color: #fff;
    width: 95%;
    max-width: 500px;
    margin: 5% auto;
  }
}

#accordion{
  .panel{
    border: none;
    border-radius: 0;
    .panel-heading{
      border: none;
      border-radius: 0;
      padding: 0;
      a{
        display: block;
        padding: 10px;
        font-weight: normal;
        &:hover, &:focus {
          text-decoration: none;
          outline: none;
        }
      }
    }
  }  
}

.comments{
  h1{
    color: #000;
    font-size: 18px;
  }
  .comment{
    h2{
      font-size: 16px;
    }
    p{
      font-size: 14px;
    }
    p.date{
      font-size: 12px;
      text-align: right;
    }
    border-bottom: solid 1px #ccc;
  }

}

.progressProjects{
  margin: -18px 0 0 0;
  width: 0%;
}
.progress{
    height: 3px;
    border-radius: 0;

    .progress-bar-nueva {
      background-color: #e2e2e2;
    }
    .progress-bar-asignada {
      background-color: #74d1f3;
    }
    .progress-bar-completa {
      background-color: #fbb03b;
    }
    .progress-bar-cancelada {
      background-color: #d31459;
    }
    .progress-bar-ajustes {
      background-color: #B6BD4B;
    }
}

#myChart{
  position: relative;
  z-index: 3;
}

.grayZone{
  background-color: #4d4d4d;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: 'Roboto';

  h2{
    font-size: 18px;
    font-weight: 100;
    strong{
      color: #eee;
    }
  }
  p{
    padding: 0;
    strong{
      color: #eee;
    }
  }
}

h3.blueTitle{
  color: #0091c8;
  font-size: 16px;
}

.textStatusP{
  font-family: 'Roboto';
  font-weight: 100;
  text-align: center;
  color: #4d4d4d;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  margin: 20px 0;
}
.mainDisplayPercentage{
  width: 100%;
  max-width: 165px;
  margin: 0 auto;
}
.percentage{
  position: absolute;
  margin: 28px 0 0 10px;
  z-index: 4;
  top: 0;
  border-radius: 50%;
  background-color: #FFF;
  width: 145px;
  height: 145px;
  color: #4d4d4d;
  text-align: center;
  font-size: 60px;
  line-height: 140px;
  font-weight: bold;

  span{
    font-weight: normal;
    font-size: 30px;
  }
}


.navbar{
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  background-color: rgba(255,255,255,0.85);
}
.mainDisplay{
  padding: 80px 0 0 0;
}

.tableArea{
  th{
    background-color: #eee;
    border-radius: 3px 3px 0 0;
    font-weight: normal;
  }
}

.btn-danger {
  background-color: #a74054;
  border: none;
  color: #fff;
}


.select-style {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("../img/arrowdown.gif") no-repeat 96% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 110% !important;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
  outline: none !important;
  option{
    outline: none !important;
  }
}

.maskFields{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
  display: none;

	.contentTypeProjects{
		background-color: #fff;
		width: 100%;
		max-width: 600px;
		margin: 5% auto 0;
		padding: 30px 0 15px;
		border-radius: 5px;
		position: relative;

		.closeButton{
			position: absolute;
			z-index: 9;
			right: 0;
			margin: -35px 5px 0 0;
			font-size: 26px;
			cursor: pointer;
		}
	}
	.tableValuesFields{
		width: 100%;
		max-width: 300px;
		input{
			width: 100%;
			border: none
		}
    table.has-error{
      tr{
        th{
          background-color: #f2dede;
          border: 1px solid #a94442;
          color: #a94442;
        }
      }
    }
	}
}


// Buzón de mensaje

.nameUPos{
  color: red;
}
.header_sec{
  strong{
    font-weight: 400;
    // color: #254144;
  }
}
.textSending{
  font-weight: bold;
  display: none;
  padding: 10px 0;
  .loader{
    margin: 2px 10px 0;
  }
}
.chat_time{
  font-size: 12px;
  font-weight: bold;
}
.activeChatUser{
  background-color: #e8e6e7;
  // margin: 0 0 2px 0;
  border-bottom: 1px solid #dddddd;
}
.contact_sec{
  strong{
    font-weight: 300;
    font-size: 12px;
  }
}
.nameUserCurrent strong{
  color: #ffffff
}
#custom-search-input {
  background: #e8e6e7 none repeat scroll 0 0;
  margin: 0;
  padding: 10px;
}
   #custom-search-input .search-query {
   background: #fff none repeat scroll 0 0 !important;
   border-radius: 4px;
   height: 33px;
   margin-bottom: 0;
   padding-left: 7px;
   padding-right: 7px;
   }
   #custom-search-input button {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: 0 none;
   border-radius: 3px;
   color: #666666;
   left: auto;
   margin-bottom: 0;
   margin-top: 7px;
   padding: 2px 5px;
   position: absolute;
   right: 0;
   z-index: 9999;
   }
   .search-query:focus + button {
   z-index: 3;   
   }
   .all_conversation button {
   background: #f5f3f3 none repeat scroll 0 0;
   border: 1px solid #dddddd;
   height: 38px;
   text-align: left;
   width: 100%;
   }
   .all_conversation i {
   background: #e9e7e8 none repeat scroll 0 0;
   border-radius: 100px;
   color: #636363;
   font-size: 17px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   width: 30px;
   }
   .all_conversation .caret {
   bottom: 0;
   margin: auto;
   position: absolute;
   right: 15px;
   top: 0;
   }
   .all_conversation .dropdown-menu {
   background: #f5f3f3 none repeat scroll 0 0;
   border-radius: 0;
   margin-top: 0;
   padding: 0;
   width: 100%;
   }
   .all_conversation ul li {
   border-bottom: 1px solid #dddddd;
   line-height: normal;
   width: 100%;
   }
   .all_conversation ul li a:hover {
   background: #dddddd none repeat scroll 0 0;
   color:#333;
   }
   .all_conversation ul li a {
  color: #333;
  line-height: 30px;
  padding: 3px 20px;
}
   .member_list .chat-body {
   margin-left: 47px;
   margin-top: 0;
   }
   .top_nav {
   overflow: visible;
   }
   .member_list .contact_sec {
   margin-top: 3px;
   }
   .member_list li {
   padding: 6px;
   }
   .member_list ul {
   border: 1px solid #dddddd;
   }
   .chat-img img {
   height: 34px;
   width: 34px;
   }
   .member_list li {
   border-bottom: 1px solid #dddddd;
   padding: 6px;
   }
   .member_list li:last-child {
   border-bottom:none;
   }
   .member_list {
   height: 380px;
   overflow-x: hidden;
   overflow-y: auto;
   }
   .sub_menu_ {
  background: #e8e6e7 none repeat scroll 0 0;
  left: 100%;
  max-width: 233px;
  position: absolute;
  width: 100%;
}
.sub_menu_ {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  left: 100%;
  margin-left: 0;
  max-width: 233px;
  position: absolute;
  top: 0;
  width: 100%;
}
.all_conversation ul li:hover .sub_menu_ {
  display: block;
}
.new_message_head button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.new_message_head {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 18px 10px;
  width: 100%;
}
.message_section {
  border: 1px solid #dddddd;
}
.chat_area {
  float: left;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.chat_area li {
  padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
  height: 40px;
  width: 40px;
}
.chat_area .chat-body1 {
  margin-left: 50px;
}
.chat-body1 p {
  // background: #fbf9fa none repeat scroll 0 0;
  padding: 10px;
}
.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
  margin-right: 50px;
}
.chat_area li:last-child {
  padding-bottom: 10px;
}
.message_write {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  width: 100%;
}
.message_write textarea.form-control {
  height: 70px;
  padding: 10px;
}
.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}
.upload_btn {
  color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
  float: left;
  width:100%;
}
.member_list li:hover {
  background: #428bca none repeat scroll 0 0;
  color: #fff;
  cursor:pointer;
}



// // ******************

#mainDisplayFormFields{
  display: none;
  .panel-heading{
    font-weight: bold;
  }
}
.nameFieldDinamic{
   // font-weight: bold; 
   padding: 0 0 5px 0;
}

.form-control:focus {
  border-color: #254144;
  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: none;
  outline: 0 none;
}


.summaryFields{
  margin: -10px 0 30px 0;
  .label{
    font-weight: 100;
    font-size: 14px;
    margin: 0 15px 0 0;

    .fa{
      padding: 10px;
    }
  }
}

.valFields{
	display: none;
	p{
		font-size: 16px;
	}
}

a {
    &:active,
    &:focus,
    &:link,
    &:visited {
        outline: none !important;
    }
}

.tab-pane {
    padding: 20px 10px;
    border-left: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    border-right: solid 1px #ddd;

    label{
      font-weight: normal !important;
    }
}
.panel-primary{
  border-color: #ccc !important;
  &.panel-gray{
    .panel-heading{
      border-radius: 0;
      background-color: #4d4d4d;
      padding: 10px;
    }
    .panel-body{
      padding: 15px 0;

      .disableAddon{
        padding: 0;
      }
    }
    border: none;
  }
}
#accordion .panel .panel-heading a{
  font-size: 14px;
  font-weight: 300;
}

.disableAddon{
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: none;
  border: none;
  border-radius: 4px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.labelDisable{
  background-color: none;
  background-image: none;
  border: none;
  box-shadow: none;
  color: #999;
  display: block;
  font-size: 14px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;

  p{
    margin: 0;
  }
}

.mainBrand {
    img {
        float: left;
        padding: 10px;
    }
    .nameUser {
        padding: 10px 10px;
        margin: 10px 0 10px 20px;
        float: left;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        border-left: solid 1px #ffffff;
        border-right: solid 1px #ffffff;

        span{
          color: #d7d74f;
          font-size: 12px;
          font-weight: 300;
          text-transform: capitalize;
          padding: 0 10px;
        }
    }
}


.mainLeftZone {
    // background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mainRightZone {
  background-color: #FFFFFF;
  border-left: 1px #cfcfcf solid;

  &.user{
    border-top: 5px #14cdb9 solid;
  }
  &.executive{
    border-top: 5px #14cdb9 solid;
  }
  &.developer{
    border-top: 5px #254144 solid;
  }
  &.creative{
    border-top: 5px #ffe932 solid;
  }
  &.moderator{
    border-top: 5px #074372 solid;
  }
  &.admin{
    border-top: 5px #d1974c solid;
  }
  &.superadmin{
    border-top: 5px #d1974c solid;
  }
  
  font-size: 14px;
  margin: 0 0 80px 0;
}

/********** EDITOR BIGMAIL *************/
.bigEditor{
  table{
    tr{
      td{
        &:hover{
          border: solid 1px red;
        }
      }
    }
  }
  img.selected{
    border: solid 1px green !important;
  }
}
.editorBigmail{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  border: solid 1px #ccc;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  max-width: 200px;
  text-align: left;
  display: none;

  .buttonClose{
    position: absolute;
    right: 0;
    margin: -5px 0 0 0;
  }
  textarea{
    resize: none;
    box-shadow: none;
  }

}

/********** HOME *************/

.tableStatusPro {
    td {
        padding: 5px 0;
    }
    line-height: 14px;
}

.statusProject {
    width: 12px;
    height: 12px;
    // display: inline-block;
    display: block;
    border-radius: 50%;
    margin: 5px auto 0;
    &.new, &.nueva {
        background-color: #e2e2e2;
        border: solid 2px #c2c2c2;
    }
    &.complet, &.completa {
        background-color: #fbb03b;
    }
    &.process, &.ajustes {
        background-color: #B6BD4B;
    }
    &.cancel, &.cancelada {
        background-color: #d31459;
    }
    &.pending {
        background-color: #B6BD4B;
    }
    &.trafic, &.asignada {
        background-color: #74d1f3;
    }
}

.headerAPLegal{
  background-color: #254144;
  color: #ffffff;
  ul{
    li{
      a{
        color: #ffffff !important;
      }
    }
  }
}

.navBigotes {
  margin: 7px 0 0 0;
  font-weight: 700;
  a {
    color: #ffffff;
    &.active {
      color: #d7d74f !important;
    }
  }
}


/********** HOME *************/

.subNavLeft {
    list-style: none;
    li a {
        width: 100%;
        display: block;
        padding: 10px 5px;
        border-radius: 3px;
        text-align: center;
        background-color: #4d4d4d;
        color: #FFF;
        margin: 5px 0;
        font-weight: bold;
        transition: all ease 0.5s;
        &:hover {
            text-decoration: none;
            background-color: #254144;
            outline: none;
        }
        &:hover,
        &:active,
        &:visited,
        &:focus {
            text-decoration: none;
            outline: none;
        }
        &.active {
            text-decoration: none;
            background-color: #254144;
        }
    }
}


/*****************************/

.textTitle {
    color: #254144;
    font-size: 18px;
    padding: 5px 0;
    border-bottom: 1px solid #e5e5e5;
    strong {
        text-transform: uppercase;
    }
}

.upperCase{
    text-transform: uppercase;    
}

/********** HOME *************/

.textWelcome {
    color: #254144;
    font-size: 24px;
    padding: 20px 20px 20px 0;
    // border-bottom: 1px solid #e5e5e5;
    strong {
        text-transform: uppercase;
    }
}

.subTitle {
    color: #4d4d4d;
    font-size: 18px;
    padding: 20px 0;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    strong {}
}

.lastConexion {
    font-size: 12px;
    color: #b0b0b0;
    clear: both;
    padding: 10px 0;
}

.mainTableOts {
    width: 100%;
}

.btnStatusOt {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
}

.otStnueva {
  background-color: #e2e2e2;
}

.otStasignada {
  background-color: #74d1f3;
} 

.otStcompleta {
  background-color: #fbb03b;
}

.otStajustes {
  background-color: #B6BD4B;
}

.otStcancelada {
  background-color: #d31459;
}

.profileActive {
    width: 12px;
    height: 12px;
    background-color: #64A079;
    display: inline-block;
    border-radius: 50%;
    margin: 5px 0 0 2px;
}

.profileInactive {
    width: 12px;
    height: 12px;
    background-color: #A74054;
    display: inline-block;
    border-radius: 50%;
    margin: 5px 0 0 2px;
}

.linkSite {
    color: #4d4d4d;
    transition: all ease 0.5s;
    &:hover {
        color: #254144;
    }
}

.totOTS {
    background-color: #4d4d4d;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 180px;
    font-weight: bold;
    text-align: center;
    margin: 40px auto;
}

.lineSeparator {
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
}

h3.title {
    font-size: 18px;
}

.btnSite {
    background-color: #4d4d4d;
    color: #FFFFFF;
    width: 100%;
    position: 5px 0;
    border: none;
    transition: all ease 0.5s;
    &:hover {
        text-decoration: none;
        background-color: #254144;
        color: #FFFFFF;
    }
}

.btnSiteOrange {
    background-color: #254144;
    color: #FFFFFF;
    width: 100%;
    position: 5px 0;
    border: none;
    transition: all ease 0.5s;
    &:hover {
        text-decoration: none;
        background-color: #254144;
        color: #FFFFFF;
    }
}

.btnSite2 {
    background-color: #4d4d4d;
    color: #FFFFFF;
    // width: 100%;
    // padding-top: 10px;
    // padding-bottom: 10px;
    border: none;
    transition: all ease 0.5s;
    &:hover {
        text-decoration: none;
        background-color: #254144;
        color: #FFFFFF;
    }
}

.btnSiteDanger {
    background-color: #A74054;
    color: #FFFFFF;
    width: 100%;
    position: 5px 0;
    transition: all ease 0.5s;
    &:hover {
        text-decoration: none;
        background-color: #943749;
        color: #FFFFFF;
    }
}

.itemsErrors {
    margin-left: 20px;
}


/********** SECCTION OT *************/

.formFilesOt {
    padding: 20px;
    margin: 20px 0 0;
    background-color: #f5f5f5;
}


/***************************/

.footer {
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 100%;
    color: #254144;
    bottom: 0;
    background-color: #f8f8f8;
    border-top: solid 1px #e7e7e7;
    padding: 10px;
    font-size: 12px;
    font-weight: 300;
}

.purpleLink {
    color: #254144;
    transition: all ease 0.5s;
    &:hover {
        color: #254144;
    }
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.panelTracking{
  .panel-body{
    padding: 0;
  }
}
.textAreaTask{
  resize: none;
  height: 72px !important;
}

#timer{
  width: 207px;
.reloj{
    display: inline-block;
    div{
      float: left;
      font-size: 30px;
      color: #4d4d4d;
      font-weight: bold;
      padding: 6px;
      letter-spacing: 3px;
    }
  }
  button{
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin: -5px 0 0 0;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    background: #254144;
    color: #fff;
    border-radius: 3px;
    &:focus{
      outline: none;
    }
  }
}
.switch {
  position: relative;
  display: inline-block;
  float: right;
  width: 50px;
  height: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.disable{
    span.text, input, .slider{
      opacity: 0.4;
    }
  }

  span.text{
    margin: 0 0 0 -150px;
    padding: 2px 0 0 0;
    cursor: pointer;
    display: block;
    font-weight: bold;
  }
  span.text2{
    margin: 0 0 0 60px;
    padding: 2px 0 0 0;
    cursor: pointer;
    display: block;
    font-weight: bold;
    width: 100px;
  }
  .loader{
    position: absolute;
    margin: -25px 0 0 -100px;
    display: none;
  }
  &.disable{
    .loader{
      display: block;
    } 
  } 
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #254144;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

